$buttons: 256;
$rows: 16;

$speed: 3s;
//$speed: 2s; //Uncomment me to go faster!

$cols: $rows;
$noteSize: 24px;
$spacer: 6px;
$boardWidth: $cols * ($noteSize + $spacer);

$mobileNoteSize: 20px;
$mobileSpacer: 2px;
$mobileBoardWidth: $cols * ($mobileNoteSize + $mobileSpacer);

$_bg: #336699 #000;
$_default: #c3c3c3;
$_accent: #ff9900;
$_selected: #FFF;

html {
  min-height: 100%;
  font-family: Poppins, Helvetica, Arial, sans-serif;
  background: nth($_bg, 1);
  background: linear-gradient(to bottom right, nth($_bg, 1), nth($_bg, 2)); 
}
body {
 height: 100%;
 margin: 0;
 font-size: 16px;
} 

body.no-overflow{
 overflow: hidden;	
}

#aligner{
  height: 100%;
  min-height: 99vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#aligner * {
  user-select: none;
}

h1{
  font-weight: 600;
  padding: 0;
  margin: 0;
  color: $_default;
  letter-spacing: 10px;
}

#board {
  margin: 10px 0 0 0;
  position: relative;
  flex: none;
  width: $boardWidth;
  font-size: 0;
  background-color: transparent;
  cursor: crosshair;
  overflow: hidden;
}

.holder {
  display: inline-block;
  height: $noteSize;
  width: $noteSize;
  margin: $spacer / 2;
  border-radius: 15px;
  background-color: $_default;
}

.forward .holder {
  animation: line $speed linear infinite;
  @for $i from 0 through $cols {
    &:nth-child(#{$cols}n + #{$i}) {
      animation-delay: $speed*($i / $rows);
    }
  }
}

.loading .holder {
  animation: pulse 3s infinite;
}

.note {
  background-color: transparent;
  border-radius: 0px;
  width: 100%;
  height: 100%;
  
  transition: all 0.1s;
}
.note.active {
  background-color: $_selected;
  box-shadow: 0 0 5px $_selected;
}

#file-controls {
	position: fixed;
	background: rgba(255,255,255,0.1);
	top: 0;
	right: 0;
}

.button {
  display: inline-block;
  background-color: $_default;
  width: 50px;
  height: 50px;
  border-radius: 2px;
  text-align: center;
  margin: 10px;
  cursor: crosshair;
  vertical-align: bottom;
  transition: 0.1s all;
  
  svg {
    fill: rgba(255,255,255,0.5);
    width: 20px;
    height: 20px;
    transform: translateY(15px);
  }
  &:hover {
    background-color: $_accent;
  }
  &:active {
    height: 45px;
  }
  &:hover > svg {
    fill: nth($_bg, 2);
  }
}

.alt {
  margin: 0;
  padding: 0;
  background: transparent;
  
  svg {
    fill: $_accent;
    width: 25px;
    height: 25px;
	 opacity: 0.6;
    transform: translateY(12px);
  }
  &:hover > svg {
	opacity: 1;
  }	
}

#audio {
  rect {
    display: inline-block;
  }
  &.mute {
    rect {
      display: none;
    } 
  }
}

.ripple {
  position: absolute;
  background:rgba(255, 255, 255, 0.35);
  border-radius: 100%;
  width: $noteSize;
  height: $noteSize;
  z-index: -1;
  opacity: 1;
  transform:scale(0);
}
.huzzar {
  opacity: 0; 
  transform: scale(8);
  transition: all 0.5s;
}

#markers {
  text-align: center;
  cursor: default;
  margin: 10px 0 0 0;
  position: relative;
  flex: none;
  width: $boardWidth;
  font-size: 0;
  span {
    font-size: 2rem;
    display: inline-block;
    height: $noteSize;
    width: $noteSize;
    margin: $spacer / 2;
    margin-bottom: 0;
    background-color: none;
    line-height: 8px;
    color: $_default;
  }
}

.ui-dialog {
  z-index: 1001;
  font-size: 1rem;
  border-radius: 5px;
  color: rgba(255,255,255,0.65); 
  background: nth($_bg, 1);
  box-shadow: 0 50px 100px -25px rgba(0,0,0,0.4), 0 0 200px -50px rgba(255,255,255,0.4);
  padding: 10px;
  border: none;
  outline: none;
  
  textarea {
    width: 100%;
    height: 100%;
    background: rgba( 0,0,0,0.4);
    color: rgba(255,255,255,0.9);
    outline: none;
    border: none;
    padding: 2px;
    border-radius: 5px;
    min-height: 150px;
    resize: none;
    cursor: text;
    
    &::selection{
      background: rgba(98,191,237, 0.99);
      color: #FFF;
    }
  }
}

.ui-dialog-titlebar {
  cursor: move;
  font-size: 1.4rem;
  color: rgba(255,255,255,0.9); 
}
.ui-dialog-titlebar-close {
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 30px;
  background: transparent;
  border: none;
  outline: none;
  float: right;
  transition: 0.1s all;
  
  &:hover {
    color: #FFF;
  }
}

.ui-dialog-buttonpane {
  padding: 10px 0;
  text-align: center;
}
.ui-dialog-buttonset{
  button {
    border: none;
    outline: none;
    background: rgba(255,255,255,0.8);
    color: nth($_bg, 1);
    border-radius: 2px;
  }
}

#ui-widget-overlay{
  position: fixed;
  top: 0; left:0 ; right: 0; bottom: 0;
  background-color: #000; 
  opacity: 0; 
  z-index:-1;
  transition: z-index 0s 0.2s, opacity 0.2s;
}
#ui-widget-overlay.visible {
  cursor: default;
  opacity: 0.6;
  z-index: 1000;
  transition: z-index 0s, opacity 0.2s;
}

.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

#social-container {
  opacity: 0.6;
	bottom: 5px;
	right: 5px;
}
#social-container p{
	padding-bottom: 0;
	margin-bottom: 0;
}
#social-container #social-links a {
	font-size: 2rem;
}
#social-message {
	font-size: 0.8rem;
}

@keyframes line {
  0%{
    background: $_accent;
  }
  30%{
    background: $_default;
  }
}
   
@keyframes pulse {
  40%{
    background: $_accent;
  }
}

@media (max-width: $boardWidth){
	#social-container #social-links, #social-container #tooltip {
		display: none;
	}
	#board {
		width: $mobileBoardWidth;
	}
	.holder {
  		height: $mobileNoteSize;
  		width: $mobileNoteSize;
		margin: $mobileSpacer / 2;
		border-radius: 0;
	}
	.note {
		border-radius: 0;
	}
	.ripple {
  		height: $mobileNoteSize;
  		width: $mobileNoteSize;
	}
	
	#markers {
	  width: $mobileBoardWidth;
	  span {
		 height: $mobileNoteSize;
		 width: $mobileNoteSize;
		 margin: $mobileSpacer / 2;
	  }
	}
}

@media (max-height: 700px) {
	#aligner{
	  justify-content: flex-start;
	  padding: 20px;
	}
}